---
import SiteLayout from "@/layouts/SiteLayout.astro";
---

<SiteLayout
  title="Mohamad Al-Kahfi — Frontend Developer"
  description="Frontend developer focused on performance, accessibility, and serene UX."
>
  <main>
    <section class="min-h-screen flex items-center justify-center">
      <div class="text-start">
        <h1
          class="text-4xl md:text-8xl font-bold mb-4 px-4 font-editorial tracking-wide"
        >
          Portfolio of Mohamad Al-Kahfi
        </h1>
        <div class="flex max-w-7xl mx-auto flex-col md:flex-row items-start">
          <h1
            class="text-4xl md:text-6xl font-bold mb-4 px-4 font-editorial tracking-wide w-full"
          >
            Frontend Web developer
          </h1>
          <p
            class="text-lg md:text-2xl mx-auto px-4 w-full"
            data-animate="fade-in"
            data-delay="0.3"
          >
            Frontend developer focused on performance, accessibility, and serene
            UX. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga
            facilis at doloribus esse eligendi officiis laudantium temporibus id
            pariatur obcaecati?
          </p>
        </div>
      </div>
    </section>
  </main>
</SiteLayout>
